#account-type-wrapper {
  height: 150px;
}

  #account-type-container {
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 30px;
  }

  .type-btn {
    margin-top: 5px;
  }

  .type-btn:focus {
    outline: #F5CB5C solid 4px;
  }
