<div id="home-wrapper" home-animations>
  <!-- <div id="home-background"><img src='./img/home-background.jpg' /></div> -->
  <div id="home-header-wrapper">

    <section id="home-menu">
      <p class="text-dec" id="close-home-menu">X</p>
      <ul id="home-menu-links-mobile">
        <li class="text-dec" ng-click="login(); loginAnimation()">Sign In</li>
        <li class="text-dec" ng-click="register(); loginAnimation()">Register</li>
      </ul>
    </section>

    <section id="home-header-container">
      <h1 class="header-title" id="home-header-title">Free Flow</h1>
    </section>

    <section id="home-header-menu-container">
      <img id="home-menu-nav" src='./img/menu.png' />
      <ul id="home-menu-links-desktop">
        <li class="text-dec desktop-link" ng-click="login()">Sign In</li>
        <li class="text-dec">|</li>
        <li class="text-dec desktop-link" ng-click="register()">Register</li>
      </ul>
    </section>
  </div>

  <div id="home-title-wrapper">
    <section id="home-title-container">
      <h1 class="text-dec" id="home-title"></h1>
    </section>
  </div>
</div>
